body {
        
        /*background-size: 100%, 100%;*/
    overflow: hidden;
    text-align: center;
    margin: 0;
    background: white;
    cursor: pointer;
    }
    #icons {
    cursor: pointer; cursor: hand;
    }
    canvas{
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      z-index: -100;
    }

    #gradient{
        display: block;
        /*background-image: url("../img/grad.png");
        width:4800px;
        height: 4800px;*/
        background-size: contain;
        position: absolute;
        z-index: 1;
    }

    #info {
        position: fixed;
        text-align: left;
    }

    .square{
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        margin-bottom: 0;
        top: 5vh;
        width: 90vh;
        height: 90vh;
        background-size: 100%,auto;
        background-position: top;
        position: absolute;
        z-index: 0;
    }

#square_tl{ background-image: url("../img/tl.jpg");}
#square_tr{ background-image: url("../img/tr.png");}
#square_bl{ background-image: url("../img/bl.png");}
#square_br{ background-image: url("../img/br.jpg");}
#square_m{ background-image: url("../img/middle.jpg");}






.visceral-container {
  
    width: 50%;
    margin-left:auto;
    margin-right: auto;
}


@media (max-width: 1000px) {
    
    .visceral-container {
        width:80%;
    }

@media (max-width: 700px) {
    
    .visceral-container {
        width:95%;
    }
    
}

/*@media (max-height: 650px) {
    
    .visceral-container {
        width:50%;
    }
    
}
*/

/*480px*/
@media (max-width: 480px) {
    
    #loading {
        display: none;
    }
    
}
